@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --blue: rgb(75, 123, 255);/*rgb(61, 113, 255);*/
}


html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(85, 85, 85, 1);
}

body {
    margin: 0;
}

span {
    color: var(--blue);
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}


/* Nav Menu Toggle Button */
#menu-button {
    background: none;
    border: none;
    position: fixed;
    right: 4rem;
    top: 4rem;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    outline: none;
}

#bars {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: none;
    font-size: 2rem;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

#times {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: none;
    font-size: 2rem;
    padding-right: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.default-times {
    opacity: 0;
}

.default-bars {
    opacity: 1;
}

.fade-out {
  opacity: 1;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
  transition: transform 1s;
  opacity: 1;
}

.rotated-menu {
    transform: rotate(180deg);
}


/* Nav Menu */
nav {
    position: fixed;
    right: 0;/*-400px;*/
    top: 20px;
    height: 100vh;
}


.menu-img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    background-color: rgba(85, 85, 85, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.face-img {
    width: 250px;
    border: 3px solid var(--blue);
    border-radius: 100%;
    overflow: hidden;
}

.menu-links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    background-color: rgba(56, 56, 56, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.menu-img.menu-img-off {
    top: 100vh;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.menu-links.menu-links-off {
    top: -100vh;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.menu-links ul {
    list-style: none;
}

.menu-links ul li {
    padding: 1rem 0;
    text-align: center;
}

.menu-links ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
    font-size: 1.9rem;
    font-weight: 100;
    padding: 1rem 0;
}

.menu-links ul li a:hover {
    transition: color 0.3s ease-out;
    color: var(--blue);
}

.menu-links ul li .link-current {
    color: var(--blue);
    font-size: 2rem;
}


/* Home Section */
#home {
    height: 100vh;
    background-image: url('../img/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.grey {
    background-color: rgba(85, 85, 85, 0.85);
    height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 6rem;
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 400;
    /*background-color: rgba(85, 85, 85, 0.4);*/
    margin: 0;
    margin-bottom: 2rem;
    padding-left: 1rem;
    width: 100%;
}

.home-flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#view-work-btn {
    border: 3px solid #000;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    /*margin-left: 1rem;*/
}

#view-work-btn:hover {
    cursor: pointer;
    border-color: #fff;
    color: #fff;
}


/* About Section */
#about {
    background: #333;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    justify-items: center;
    margin-bottom: 2rem;
}

.about-bio h2 {
    margin-left: 0;
    padding-left: 0;
    font-size: 2rem;
}

.no-pad {
    padding-left: 0;
    margin-top: 0;
}

p {
    font-size: 1.5rem;
}

/* Work Section */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    grid-gap: 0.6rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.project-grid img {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #fff;
    opacity: 1;
}

.project-grid img:hover {
    border-color: /*#c4c4c4;*/var(--blue);
    transition: opacity 0.5s ease-out;
    opacity: 0.5;
}

.project-btn {
    background-color: #c4c4c4;
    color: #000;
    border: none;
    text-align: left;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.github-btn {
    background-color: #000;
    color: #fff;
    border: none;
    text-align: left;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.project-btn:hover {
    background-color: var(--blue);
    color: #fff;
}

.github-btn:hover {
    background-color: var(--blue);
}

/* Media Queries */

@media(max-width:780px) {
    html {
        text-align: center;
    }
    .home-flex {
        align-items: center;
    }
    #home {
        background-size: 120vw;
        background-position-x: -70px;
    }
    .about-grid {
        grid-template-columns: 1fr;
    }

    .project-btn {
        text-align: center;
    }
    
    .github-btn {
        text-align: center;
    }

    .menu-img {
        position: fixed;
        left: 0;
        top: 0;
        height: 25vh;
        width: 100vw;
    }
    
    .menu-links {
        position: fixed;
        right: 0;
        top: 25vh;
        height: 75vh;
        width: 100vw;
    }

    .face-img {
        width: 150px;
    }

    .menu-img-off {
        right: 100vw;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
    
    .menu-links-off {
        left: -100vw;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
}

@media(max-width:500px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    #home {
        background-size: 180vw;
        background-position-x: -140px;
    }
    .grey {
        background-color: rgba(85, 85, 85, 0.8);
        height: 100vh;
    }
    .container {
        width: 85%;
    }
}